<footer class="l-footer">

    <div class="l-footer__first">
        <a href="" class="l-footer__sns">INSTAGRAM</a>
        <a href="" class="l-footer__sns">TWITTER</a>
        <a href="" class="l-footer__sns">FACEBOOK</a>
    </div>

    <div class="l-footer__last">
        <p class="l-footer__copyright">© Furniture Design</p>
    </div>

</footer>