<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <!-- container -->
    <div class="container">

        <!-- header -->
        <header class="l-header">
            <div class="l-header__inner">

                <div class="l-header__first">
                    <h1 class="l-header__logo">
                        <a href="" class="l-header__link"><img class="l-header__logo-img" src="assets/img/logo/logo.png" alt="logo"></a>
                    </h1>
                </div>

                <div class="l-header__last">
                    <div class="l-header__menu-btn"></div>
                </div>

                <!-- オーバーレイ メニュー -->
                <%  const menu = ['PRODUCTS', 'ABOUT', 'COMPANY', 'CONTACT']; %>

                <nav class="l-header__nav">
                    <ul class="l-header__menu">
                        <% menu.forEach(item => { %>
                        <li class="l-header__menu-item"><a href="l-header__link"><%= item %></a></li>
                        <% }); %>
                    </ul>
                </nav>

                <div class="l-header__overlay"></div>

            </div>
        </header>

        <!-- main -->
        <main class="l-main">
            <div class="l-main__inner">

                <div class="l-main__content">
                    <% products.forEach(product => { %>
                        <img src="<%= product.img %>" alt="<%= product.title %>" style="width: 100px; height: 100px;">
                    <% }) %>
                    <section class="p-index-products">
                        <ul class="p-index-products__list">
                            <li class="p-index-products__item">
                                <a class="p-index-products__link" href="#"><img src="#" alt="" class="p-index-products__img"></a>
                            </li>
                        </ul>
                    </section>

                    <a href="#" class="p-index-products__link">View More</a>

                </div>

            </div>
        </main>

    </div>
    
</body>
</html>